body {
  background-color: black;
  background-size: 100% 100%;
  color : white;
  font-family:'Segoe UI'
  
}

table.centre-tr tr {
	text-align: center;
}
table.centre-tr td {
	width: 150px; text-align: center; font-family:'Segoe UI';
}
p.text {
	padding-left: 30px; font-family:'Segoe UI';
}
p.nor {
	padding-left: 60px; font-family:'Segoe UI';
}
.lt {
	font-size: 8px;
	font-style: italic;
}
