body {
  background-image: url("./aquavill.png");
  background-size: 100%;
  color : white;
  font-family:'Segoe UI'
  
}

table.centre-tr tr {
	text-align: center;
}
table.centre-tr td {
	width: 150px; text-align: center; font-family:'Segoe UI';
}
p.text {
	padding-left: 30px; font-family:'Segoe UI';
}
.nor p {
	padding-left: 60px; font-family:'Segoe UI';
	color: tan;
}
.lt {
	color: lightgrey;
	font-size: 8px;
	font-style: italic;
}
.backcolor {
    padding: 2px;
    background-color: transparent;
    color: whitesmoke;
    font-size: 11px;
    font-family: "Segoe UI";
    font-weight: bold;
    border-radius: 4px;
    border-color: white;
  }
.pages {
  flex-direction: row;
}
